.header--dark {
    background-color: rgb(51,57,64);
    color: rgb(236,236,236);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__title {
    display: flex-end;
    font-size: 1.25rem;  
}
.header__search {
    display: inline-flex;
    font-size: 1.25rem;
    padding-right: 1rem;
    margin-left: auto;
}

.search__input {
    border: 2px solid rgb(248, 248, 48);
    border-radius:0 4px 4px 0;
    display: inline-block;
    font-size: 1.2rem;
    padding:  0.375rem 0.75 ;
    transform: border-color .15s;
    /* A szegély színére állíts be egy áttünést, ami .15 másodpercig tart. */
}
.input:focus .search__input {
    border-color: rgb(128,189,255);

}
.search__btn {
    background-color: rgb(0,123,255);
    /* float: right; */
    /* nagyító ikon */
}

aside {
    height: 100%;
}
.main__nav {
    background-color: rgb(33,37,41);
    /* display: inline-block; */
    /* width: 30%;  - nem jó! */
    /* height: 100%; - nem segít */
    /* li: tartalom, ikonok */
}

/* .nav__ul {
    display: inline-block;
} */

aside {
    display: inline-block;
}

/* Main */
section {
    display: inline-block;
}

.main__breadcrumb {
    background-color: rgb(233,236,239);
    border-radius: 0.25rem;
    padding: 1rem 1.25rem;
    /* display: inline-block; */
    border-radius: .25rem;
}

.main_cards {
    display: inline-flex;    
}

/* Cards */
.main__card {
    width: 100px;
    height: 100px;
}

.main__card--blue {
    background-color: RGB(0,123,255);
    display: inline-block;
}
.main__card--yellow {
    background-color: RGB(255,193,7);
    display: inline-block;
}
.main__card--green {
    background-color: RGB(40,167,69);
    display: inline-block;
}
.main__card--red {
    background-color: RGB(0220,53,69);
    display: inline-block;
}
